<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        
        <title>E-valimine 2013</title>
        
        <meta name="description" content="E-Valimine 2013">

        <link rel="stylesheet" href="../css/main.css">
      
    </head>
<body>

	<div id="wrapper">
	
		<div id="sidebar">
		
			 <ul>
           		<li><a href="#">Info</a></li>
           		<li><a href="#">Hääleta</a></li>
        	 </ul>
       	</div>
        	 
		<div id="outer">
        	<div id="inner">
        		E-VALIMISED-2013
        		<br>
            	CONTENT
        	</div>
		</div>
			
		
		
		<div id="footer">
		
		
		</div>
	</div>
	
</body>

</html> 